---
import { cars } from "../data/cars.astro";
import Car from "./car.astro";
---

<div class="container mx-auto mb-10 px-5 xl:px-0">
  <div
    class="text-4xl font-bold mt-1 md:mt-20 mb-5 border-l-6 border-sky-900 pl-4"
  >
    Inventory
  </div>
  <div class="border-b border-neutral-700">
    <br />
  </div>
  <div
    class="mt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 justify-items-center"
  >
    {
      cars.map((car) => (
        <div class="mb-10">
          <Car car={car} />
        </div>
      ))
    }
  </div>
</div>
